In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('jmlh_kclkn_prkrn_krgn_mtr_stp_bln_d_kbptn_knngn.csv')
df

#Data kecelakaaan kabupaten Kuningan di tahun 2023
#Mayoritas bulan dalam tahun 2023 bebas dari kecelakaan.
#Mei dan Oktober adalah satu-satunya bulan dengan kecelakaan, 
#Total kerugian materiil selama tahun 2023:
#Rp40.000.000 dari total 3 kecelakaan
#Rata-rata kerugian per kecelakaan adalah Rp13.333.333
#Meskipun kecelakaan sedikit, kerugiannya cukup signifikan.
#Perlu dipertimbangkan upaya pencegahan pada bulan-bulan rawan seperti Mei dan Oktober.
#Kabupaten Kuningan menunjukkan tingkat kecelakaan yang sangat rendah di 2023.
#Fokus pencegahan dapat diarahkan pada bulan-bulan rawan (Mei & Oktober).

,id,kode_provinsi,nama_provinsi,bps_kode_kabupaten_kota,bps_nama_kabupaten_kota,bulan,jumlah_kecelakaan,perkiraan_kerugian_materi,tahun
0,1,32,JAWA BARAT,3208,KABUPATEN KUNINGAN,JANUARI,0,0,2023
1,2,32,JAWA BARAT,3208,KABUPATEN KUNINGAN,FEBRUARI,0,0,2023
2,3,32,JAWA BARAT,3208,KABUPATEN KUNINGAN,MARET,0,0,2023
3,4,32,JAWA BARAT,3208,KABUPATEN KUNINGAN,APRIL,0,0,2023
4,5,32,JAWA BARAT,3208,KABUPATEN KUNINGAN,MEI,2,30000000,2023
5,6,32,JAWA BARAT,3208,KABUPATEN KUNINGAN,JUNI,0,0,2023
6,7,32,JAWA BARAT,3208,KABUPATEN KUNINGAN,JULI,0,0,2023
7,8,32,JAWA BARAT,3208,KABUPATEN KUNINGAN,AGUSTUS,0,0,2023
8,9,32,JAWA BARAT,3208,KABUPATEN KUNINGAN,SEPTEMBER,0,0,2023
9,10,32,JAWA BARAT,3208,KABUPATEN KUNINGAN,OKTOBER,1,10000000,2023
10,11,32,JAWA BARAT,3208,KABUPATEN KUNINGAN,NOVEMBER,0,0,2023
11,12,32,JAWA BARAT,3208,KABUPATEN KUNINGAN,DESEMBER,0,0,2023